/* Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
 
body{
    font-family: 'Mochiy Pop P One', sans-serif;
}

.main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:5px;
    grid-row-gap: 15px;
}
.main-container{
    width: 1000px;
    height: 2850px;
    border: 5px solid white;
    background-color: whitesmoke;
    border-radius: 20px;
}
h3{
    width: 50%;
    padding-left: 10px;
}
nav{
    display: flex;
}
---------------/* 
Name highlight 
*/--------------
span{
    background-color:gold;
}
.left{
    padding-left: 250px;
    display: flex;
    margin-top: 22px;
    width: 50%;
}
.left a{
    width: 50%;
    text-decoration: none;
    color:blue;
}
.padding{
    padding-left: 60px;
}
.pad-on{
    padding-left: 15px;
}
#icon{
    padding-left: 15px;
color: blue;
margin-top: 7px;
}
h3{
    margin-left: 10px;
}
.influencer{
    width: 45%;
    margin-left: 20px;
}
/*---------
first-part 
-----------*/
.container{
    display: flex;
}
/*------------ 
Main-camera
------------- */
.camera{
    width: 55%;
    margin-right: 20px;
    padding-top: -70px;
    padding-left: 100px;
}
.camera:hover img{
    transform: rotate(45deg);
    transition-duration:10s;
}
/* Button */
button{
    border: 2px solid violet;
    background-color: violet;
    border-radius: 20px;
    color: whitesmoke;
}
button:hover{
    color: blue;
    background-color: coral;
    transition-duration: 5s;
}
/* --------------
Horigental line
----------------*/
hr{
    margin-left: 25px;
    margin-right: 25px;
}
.company-icon img{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
    justify-content: space-between;
}
h1{
    text-align: center;
}
.popular{
    margin-right: 25px;
    margin-left: 25px;
    border: 10px solid lightsteelblue;
    border-radius: 10px;
}
#ratting{
    margin-left: 5px;
}
.star{
    display: flex;
    text-align: center;
}
#color{
color: red;
padding-left: 3px;
}
.time{
    margin-top: -4px;
    padding-left: 15px;
}
.set-up {
    width: 260px;
    height: 250px;
}
.bottom{
    padding-left: 870px;
    color:red;
}
.bottom:hover{
    color: gold;
    transition-duration: 5s;
}
.bonas{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
/* Bonas part */
.bonas-pic img{
    width: 140%;
    border-radius: 10px;
}
/* Bonas-details */
.bonas-details{
    width: 50%;
    padding-left: 180px;
    padding-top: 25px;
}
.see{
    text-decoration: none;
}
.see:hover{
    color: gold;
    transition-duration: 5s;
}
.copyright{
    text-align: center;
    color: slateblue;
}
.font-aswam{
    text-align: center;
}
#end{
    color:red;
    padding-left: 5px;
}
.influnce{
    color: white;
}
.down{
    background-color: black;
    border-radius: 10px;
}
/* -----------
Media quiry
-------------*/
/* Mobile device */
@media only screen and (max-width:480px) {
    .container{
        flex-direction: column;
        width: 100%;
    }
        .company-icon{
            display: block;
        }
    .main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .bonas{
        display: block;
    }
}
/* Tab */
@media only sereen and (min-width:580px) and (max-width:768px) {
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}






